@font-face {
    font-family: Anton;
    src: url(./assets/Anton,Archivo/Anton/Anton-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo {
    font-family: Anton;
    color: #FFBF01;
}

body {
    background-color: #0D3FA9;
 
}

#layout-grid {
    margin: 10px;
    width: 100%;
    padding: 15px;
    border: #FFBF01 5px solid;

}

header {
    padding: 5px;
    border: #FFBF01 5px solid;
}
